// .card {
//     min-width: 300px;
// }

.card {
    &.landscape {
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;

        img {
            width: 30%;
        }
    }

    &.text-inner {
        // width: 320px; //temporary
        // height: 320px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        &:hover {
            .card__text {
                opacity: 1;
            } 
        }

        img {
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
        }

        & .card__text {
            background-color: $transparent-dark-color;
            opacity: 0;
            position: relative;
            transition: 0.3s;
            overflow-y: auto;
            z-index: 1;
        }
    }
}