.editors-pick {
    padding: 5em 0 5em 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .slider-navigation-wrapper {
        margin-bottom: 6.5%;

        > .container {
            display: flex;

            > hr {
                width: 30px;
            }
        }
    }
}

.editors-pick__text {
    width: 12%;
    min-width: 170px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h2 {
        width: 120px;
        text-align: right;
    }
}

.editors-pick__slide-container {
    
}

.editors-pick__slide__inner {
    width: 65vw;
    height: 65vw;
    min-width: 280px;
    min-height: 280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6%;

    .card:first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .card:nth-child(5) {
        grid-column: 2 / span 2;
        grid-row: 3 / span 1;
    }

    .card {
        background-color: green;
        min-width: 0;
        min-height: 0;
    }
}