.editors-pick {
    padding: 5em 0 5em 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .slider-navigation-wrapper {
        margin-bottom: 30px;

        > hr {
            width: 30px;
        }
    }
}

.editors-pick__text {
    width: 12%;
    min-width: 170px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h2 {
        width: 120px;
        text-align: right;
        background-color: red;
    }
}

.editors-pick__slide-container {
    
}

.editors-pick__slide__inner {
    max-width: 70vw;
    height: 70vw;
    min-width: 300px;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 40px;

    background-color: red;

    .card:first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .card:nth-child(5) {
        grid-column: 2 / span 2;
        grid-row: 3 / span 1;
    }

    .card {
        background-color: green;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%
        }
    }
}