.email-form {
    input[type="email"]{
        width: 28vw;
        max-width: 500px;
        min-width: 150px;
        padding-left: 20px;
        height: 2.8em;
        border-radius: 2em;
    }

    input[type="submit"] {
        width: 125px;
        height: 40px;
        margin: 20px 0 20px 0;
        background-color: $highlight-color;
        border-radius: 2em;
    }
}