* {
    box-sizing: border-box;
    max-width: 1440px; //temporary
}

body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: $background-color;
    font-family: sans-serif;
}

.text-small {
    font-size: 0.7em;
}

.text-bold {
    font-weight: 600;
}