* {
    box-sizing: border-box;
    max-width: 1440px; //temporary
}

body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: $background-color;
    font-family: sans-serif;
}

.text-small {
    font-size: 0.7em;
    line-height: 21px; //Exprerimental
}

.text-bold {
    font-weight: 600;
}

.quote {
    &::before{

    }

    &::after{

    }
}

.quote__text {
    font-style: italic;
}

.read-more.text {

}

.read-more.button button {
    min-width: 8rem;
    height: 2.4rem;
    background-color: $highlight-color;
    border-radius: 2em;
}