* {
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: $background-color;
    font-family: sans-serif;

    * {
        border: 1px solid white
    }
}

button {
    transition: 0.2s;

    &:hover {
        color: $light-color;
        background-color: $dark-color;
    }
}

blockquote {
    line-height: 30px;
}

.text-small {
    font-size: 0.7em;
    line-height: 21px; //Exprerimental
}

.text-bold {
    font-weight: 600;
}

.quote {
    &::before{

    }

    &::after{

    }
}

.quote__text {
    font-style: italic;
}

.read-more.text {

}

.read-more.button button {
    min-width: 8rem;
    height: 2.4rem;
    background-color: $highlight-color;
    border-radius: 2em;

    &:hover {
        color: $light-color;
        background-color: $dark-color;
    }
}

.read-more.text {
    color: $highlight-color;
    text-decoration: none;
}

.cards-container {
    row-gap: 5em;
}