header {
    width: 100%;
    height: 240px;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    width: 270px;
    height: 100vh;
    background-color: $transparent-dark-color;

    > ul {
        flex-direction: column;

        li:not(:first-child) {
            margin: 1.3em 0 1.3em 0;
            font-weight: 600;
        }

        .company-name {
            width: 360px;
            height: 90px;
            margin-bottom: 2.5em;
            align-self: flex-start;
            background-color: #FEE252;
        }
    }
}

.main-navigation, .user-info {
    > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        > li {
            > * {
                color: $light-color;
                color: red;
                text-decoration: none;
            }
        }
    }
}

.user-info {
    margin-right: 15%;
    padding: 20px 0 20px 0;

    > ul {
        > li {
            padding: 0 10px 0 10px;

            &:last-child {
                border-left: 2px solid black;
            }
        }
    }
}

.icon-container {
    background-color: blue;
}

.icon-container {
    img {
        width: 20px;
        height: 20px;
    }
}