.intro {
    min-height: 100vh;

}

.intro h2 {
    margin: 0;
    padding: 0;
}

.intro__slide {
    height: 100vh;
    padding-left: 27%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .slide__content-container {
        width: 320px;
        margin-top: -70px;

        * {
            margin: 3em 0 3em 0;
        }

        .title {
            margin: 0;
            font-size: 3.3em;
        }
    }

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.user-info {
    margin-right: 19.5%;
    padding: 40px 0 40px 0;
    align-self: flex-end;


    > ul {
        > li {
            padding: 0 30px 0 20px;

            &:last-child {
                border-left: 2px solid black;
            }
        }
    }
}

.icon-container {
    img {
        width: 20px;
        height: 20px;
    }
}

.slider-navigation-wrapper {
    display: none;
}