// @meadia screen and (max-width = 980px) {

// }

@media screen and (max-width: 980px) {
    header {
        
    }

    .app-navigation-bar {
        display: none;
    }

    .intro__slide {
        padding: 0;
        align-items: center;
        text-align: center;

        .user-info {
            margin-right: 0;
            align-self: center;
        }

        .slider-navigation-wrapper {
            background-color: red; 
            flex-direction: column;
            align-items: center;
        }

        .slider__navigation { 
            flex-basis: 100%;
        }
    }
}