// @meadia screen and (max-width = 980px) {

// }

@media screen and (max-width: 980px) {
    header {
        
    }

    .app-navigation-bar {
        width: 100vw;
        background-color: $dark-color;
        .company-name {
            width: 100%;
        }
    }

    .intro__slide {
        padding: 0;
        align-items: center;
        text-align: center;

        .user-info {
            margin: 20px 0 20px 0;
            align-self: center;
        }

        .slider-navigation-wrapper {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap-reverse;

            .slider__navigation {
                justify-content: center;
            }
        }

        .slider__navigation { 
            flex-basis: 100%;
        }

        .slide-indicator {
            hr {
                width: 20vw;
                max-width: 140px;
                min-width: 0;
            }
        }
    }

    .editors-pick__slide__inner {
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .card {
            height: 70vw;
            min-height: 280px;
            img {
                object-fit: cover;
            }
        }
    }
}