@media screen and (max-width: 980px) {
    .Layout {
        .navigation-toggle {
            display: block;
        }
    }
 

    .app-navigation-bar {
        width: 100vw;
        background-color: $dark-color;
        overflow-x: hidden;

        &.hidden {
            width: 0;
        }
    }

    .intro__slide {
        padding: 0;
        align-items: center;
        text-align: center;

        .user-info {
            margin: 50px 0 50px 0;
            align-self: center;
            flex-wrap: wrap;
            justify-content: center;
        }

        .user-icon {
            display: none;
        }

        .slider-navigation-wrapper {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap-reverse;

            .slider__navigation {
                justify-content: center;
            }
        }

    }

    .featured-spots {
        padding-left: 0.5em;
        padding-right: 0.5em;
        

        .featured-spots__text {
            padding: 0;
            text-align: center;
        }

        .featured-spots__inner {
            align-items: center;
        }
    }

    .slider-navigation-wrapper {
        padding: 0 2em 0 2em;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap-reverse;
        gap: 1em;

        .slider__navigation { 
            flex-basis: 100%;
        }

        .slider__navigation {
            justify-content: center;
        }
    }

     .slide-indicator {
         hr {
             width: 50px !important;
         }
    }

    .editors-pick {
        padding-left: 0.5em;
        padding-right: 0.5em;

        .sort-by-container {
            hr {
                display: none;
            }
        }

        .editors-pick__text {
            align-items: center;
            text-align: center;

            h2 {
                width: 100%;
                text-align: center;
            }
        }

        .editors-pick__slide__inner {
            height: max-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .card {
                height: 70vw;
                min-height: 280px;
                img {
                    object-fit: cover;
                }
            }
        }
    }

    .above-the-sea {
        // *{
        //     margin: 0;
        // }
        justify-content: center;

        .above-the-sea-text {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .above-the-sea-image-container {
            width: 80vw;
            height: 80vw;
        }
    }

    .mountain-collections {
        padding-left: 1em;
        padding-right: 1em;

        .mountain-collections__inner {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            .mountain-collections__text {
                text-align: center;

                p {
                    width: 100%;
                }
            }

            .mountain-collections__cards {
                > .card {
                    margin-bottom: 5em;
                    text-align: center;

                    p {
                        width: 100%;
                    }
                }
            }
        }
    }
}