.mountain-collections {
    padding: 5.5% 8% 5.5% 19%;
    display: flex;
    justify-content: center;

}

.mountain-collections__inner {
    background-color: red;
}

.mountain-collections__text {
    width: 40%;
    min-width: 300px;
    h1 {
        font-size: 3em;
    }
}

.mountain-collections__cards {
    .card {

    }
}