.mountain-collections {
    padding: 7% 0 7% 0;
    display: flex;
    justify-content: center;

}

.mountain-collections__inner {


}

.mountain-collections__text {
    width: 40%;
    min-width: 300px;
    h1 {
        font-size: 3em;
    }
}

.mountain-collections__cards {
    .card {

    }
}