.app-navigation-bar {

}

.app-navigation-bar {
    width: 270px;
    height: 100vh;
    background-color: $transparent-dark-color;
    position: absolute;
    z-index: 2;

    .navigation__items {
        padding: 55px 60px 62px 60px;
        
        li {
            margin: 2.2em 0 0 0;
            font-weight: 600;
        }
    }

    > ul {
        flex-direction: column;

        li {
             > * {
                color: $light-color;
                text-decoration: none;

                &.active {
                    background-color: $transparent-dark-color;
                }
             }

            &:hover {
                background-color: $transparent-dark-color;
            }

             &:last-child {
                margin-top: 60px;
             }
        }

        .company-name {
            width: 360px;
            min-height: 90px;
            padding: 1.1em 2.4em 1.1em 2.4em;
            background-color: #FEE252;
            font-size: 1.5em;
            font-weight: 900;

            > * {
                color: $dark-color;
            }
        }
    }
}

.app-navigation-bar, .user-info {
    > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }
}