.slider-navigation-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1em;
}

.slider__navigation {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
}

.btn-prev, .btn-next {
    width: 3em;
    height: 3em;
    margin: 0;
    border: none;
    border-radius: 50%;
}

.slide-indicator {
    display: flex;
    align-items: center;
}

.slide-indicator {
    font-size: 0.9em;

    > * {
        margin: 0 2em 0 2em;
    }

    hr {
        border-color: #5A5A5A5A;
        border: 1px solid rgb(128, 128, 128);

        &:first-child {
            color: blue;
            width: 39.5vw;   
        }

        &:last-child {
            width: 2vw;
        }
    }
}