.subscribe-section {
    max-width: 100%;
    min-height: 350px;
    padding: 2em;
    background-image: url("../../public/files/images/map_dot.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .subscribe-section__inner {
        text-align: center;
    
        .text {
            font-size: 0.75em;
        }

        .email-form {
            padding: 5em 0 5em 0;
        }
    }
}